td.cell-width-150 {
  width: 150px;
}

th.cell-width-150 {
  width: 150px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  float: right;
}

tr.mat-row {
  height: 35px !important;
}

.img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.yet_btn {
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 2px;
}

.export_btn {
  border-radius: 3px;
  padding: 5px 18px;
  height: 38px;
  font-size: 15px;
  line-height: 25px;
  width: auto;
  margin-top: 7px;
}