::ng-deep {
    .mat-form-field .mat-form-field-infix {
        padding: 10px;
    }
}

th,
td {
    white-space: normal;
    word-wrap: break-word;
}

.example-button-row {
    display: table-cell;
    float: right
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
    float: right;
}

.approve-btn {
    background-color: #04AA6D !important;
    color: #FFFF;
}

.reject-btn {
    background-color: #c10000c7 !important;
    color: #FFFF;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    background-color: #f5f5f5;
}

.mat-input-element:disabled {
    color: rgb(108 101 101);
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    padding: 15px;
}

.img {
    height: 30px;
    width: 40px;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
}

.mat-icon.color {
    vertical-align: top;
    font-size: 0.9em;
    color: #383333;
}

.color-fileUpload-disabled {
    color: transparent;
}

.color-fileUpload {
    color: black;
}

.btn {
    color: #000;
    background-color: #DCE0E3;
}