.header {
    background: #39afd1;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    height: auto;
    font-style: italic;
    font-size: 10px solid;

    p {
        font-size: 12px;
    }
}

span {
    padding-left: 200px;
}