<div class="row">
    <div class="col-8 ">
        <app-table-title-header tableHeader="Change Password"></app-table-title-header>
    </div>
    <div class="col-12">
        <form autocomplete="off">
            <div class="form-group" [formGroup]="newPasswordForm">
                <label for="newPassword">{{LABEL.NEW_PASSWORD}}</label>
                <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword"
                    (keyup)="validatePassword($event)" formControlName="newPassword">
            </div><br>
            <div class="form-group" [formGroup]="confirmNewPasswordForm">
                <label for="confirmNewPassword">{{LABEL.CONFIRM_PASSWORD}}</label>
                <input type="password" class="form-control" id="confirmNewPassword" [(ngModel)]="confirmNewPassword"
                    formControlName="confirmNewPassword" (keyup)="validatePassword($event)">
                <p *ngIf="passwordMatchValidation">
                    <span class="text-danger">New Password and Confirm Password should match</span>
                </p>
                <p *ngIf="passwordErrorMessage" class="error-message-text mb-0" style="color: red;">
                    &#160;{{passwordErrorMessage}}</p>
            </div>
        </form>
    </div>
    <div class="example-button-row">
        <button mat-raised-button color="primary" [disabled]="this.passwordMatchValidation == true" (click)="changePassword()">Update<mat-icon inline="true">update
            </mat-icon>
        </button>
        <button mat-raised-button class="clearBtn" mat-dialog-close>Cancel<mat-icon inline="true">clear
            </mat-icon></button>
    </div>
</div>